[Unit]
Description=OrientDB Service

[Service]
User=core
TimeoutStartSec=0
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill orient
ExecStartPre=-/usr/bin/docker rm orient
ExecStartPre=/usr/bin/docker pull neermitt/docker-orientdb
ExecStart=/usr/bin/docker run --name orient -p 2424:2424 -p 2480:2480 -p 5701:5701 neermitt/docker-orientdb
ExecStop=/usr/bin/docker stop orient

[X-Fleet]
Conflicts=orient@*.service
